<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-GGApps-20140904100218;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-GGApps-20140904100218.mdf" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="102400" executionTimeout="3600"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="500000" defaultUrl="~/" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" cookieless="false" timeout="600" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.65.0" newVersion="1.0.65.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- DEV CON STRING -->
    <!--
    <add key="ContentAbilityGG" value="Server=localhost;Database=ContentDB_165;User Id=sa;Password=3lpid@31;" />
    <add key="GG_Reporting" value="Server=localhost;Database=GG_Reporting;User Id=sa;Password=3lpid@31;" />
    <add key="CustomConnectionString" value="Server=localhost;Database=ContentDB_165;User Id=sa;Password=3lpid@31;" />
    <add key="DynamicConnectionString" value="Server=localhost;Database=DBNAME;User Id=sa;Password=3lpid@31;" />
    <add key="FTP_Upload_ConStr" value="ftp://ftp.oliveandwine.gr|@@|user@oliveandwine.gr|@@|3lpid@31" />
    -->
    <!-- PRODUCTION CON STRING -->
    <add key="ContentAbilityGG" value="Server=10.0.64.32;Database=ContentDB_165;User Id=ContentAbility_User_165;Password=3E6EA993-5EBA-4648-BF18-83C38D3E26DC;" />
    <add key="GG_Reporting" value="Server=10.0.64.32;Database=GG_Reporting;User Id=ContentAbility_User_165;Password=3E6EA993-5EBA-4648-BF18-83C38D3E26DC;" />
    <add key="CustomConnectionString" value="Server=10.0.64.32;Database=ContentDB_165;User Id=ContentAbility_User_165;Password=3E6EA993-5EBA-4648-BF18-83C38D3E26DC;" />
    <add key="DynamicConnectionString" value="Server=10.0.64.32;Database=DBNAME;User Id=ContentAbility_User_165;Password=3E6EA993-5EBA-4648-BF18-83C38D3E26DC;" />
    <add key="FTP_Upload_ConStr" value="ftp://gg.ftp.live.qwe.gr|@@|ggfilemgrp|@@|Fsew$2qx" />
    <add key="ThreeLanguages" value="#327#666#" />
    <add key="AllTeams" value="nadia.massahou@greekguide.com|elpida.pitaki@greekguide.com|vassilis.dimarakis@b2btech.gr|gg.backoffice@b2btech.gr" />
    <add key="ErrorTeam" value="vassilis.dimarakis@b2btech.gr|gg.backoffice@b2btech.gr" />
    <!--<add key="ErrorTeam" value="argiris.gerogiannis@b2btech.gr" />-->
    <!--
      group mail added::gg.backoffice@b2btech.gr
                argiris.gerogiannis@b2btech.gr
                aleka.liatou@b2btech.gr
                gg@b2btech.gr
                ans@b2btech.gr

    <add key="ErrorTeam" value="argiris.gerogiannis@b2btech.gr|gg@b2btech.gr|ans@b2btech.gr|aleka.liatou@b2btech.gr|vassilis.dimarakis@b2btech.gr" />
    -->
    <add key="ProducedAppPath" value="C:\\GGAppContent\\" />
    <add key="ToPublishZipDir" value="C:\\GGAppContent\\ToBePublished\\" />

    <add key="GenericEmailUserName" value="app.update@greekguide.com" />
    <add key="GenericEmailPswd" value="Hg33@1#$dq!9" />
    <add key="SmtpClient" value="mail.qwe.gr" />
    <add key="authorized" value="ggappadmin|Administrator" />
    <add key="ContentValidation" value="ggOmaira|ggdemo" />
    <add key="GitUserFTP" value="ggfilemgrp" />
    <add key="GitPassFTP" value="Fsew$2qx" />
    <add key="GitHostFTP" value="gg.ftp.live.qwe.gr" />
    <add key="unzipFileSSHcmd" value="unzip {0} -d {1}-new" />
    <add key="replaceDeviceOldSSHcmd" value="rm -rf {0}-old &amp;&amp; mv {0} {0}-old &amp;&amp; mv {0}-new {0};" />
    <add key="undoPublishSSHcmd" value="rm -rf {0} &amp;&amp; mv {0}-old {0}" />
    <add key="initFirstPublishSSHcmd" value="mkdir -p {0} &amp;&amp; echo {1} &gt; {0}/versions.txt" />

  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>





  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="GGApps.GGService">
        <endpoint address="mex" binding="mexHttpBinding" contract="GGApps.IGGService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>


  <!--<system.serviceModel>

    <services>
      <service name="GGApps.GGService" behaviorConfiguration="asdf">
        <endpoint address="" binding="basicHttpBinding"
            bindingConfiguration="httpBinding" contract="GGApps.IGGService" />
      </service>
    </services>

    <diagnostics>
      <endToEndTracing activityTracing="true" messageFlowTracing="true" propagateActivity="true" />
    </diagnostics>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="asdf">
          -->
  <!-- To avoid disclosing metadata information, set the value below to 
               false and remove the metadata endpoint above before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" />
          -->
  <!-- To receive exception details in faults for debugging purposes, 
               set the value below to true.  Set to false before deployment to avoid 
               disclosing exception information -->
  <!--
          <serviceDebug  includeExceptionDetailInFaults="true" />

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>

  </system.serviceModel>-->

</configuration>
