<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <add key="GG_Reporting" value="Server=10.0.64.32;Database=GG_Reporting;User Id=ContentAbility_User_165;Password=3E6EA993-5EBA-4648-BF18-83C38D3E26DC;" />
    <add key="FTP_Upload_ConStr" value="ftp://gg.ftp.live.qwe.gr|@@|ggfilemgrp|@@|Fsew$2qx" />
    <add key="ThreeLanguages" value="#327#666#" />
    <add key="AllTeams" value="nadia.massahou@greekguide.com|elpida.pitaki@greekguide.com|vassilis.dimarakis@b2btech.gr|gg.backoffice@b2btech.gr" />
    <add key="ErrorTeam" value="vassilis.dimarakis@b2btech.gr|gg.backoffice@b2btech.gr" />
    <add key="ProducedAppPath" value="C:\\GGAppContent\\" />
    
    <add key="GenericEmailUserName" value="app.update@greekguide.com" />
    <add key="GenericEmailPswd" value="Hg33@1#$dq!9" />
    <add key="SmtpClient" value="mail.qwe.gr" />
    <add key="authorized" value="ggappadmin|Administrator" />
    
  </appSettings>
</configuration>

